.formback{
    display: flex;
    justify-content: center;
}
.formfront{
    display: flex;
    justify-content: center;
    color: white;
    /* background-color: #f9ecc8; */
    /* border: rgb(255, 0, 0) 2px solid; */
    background-image: url('https://i.pinimg.com/originals/6e/f4/97/6ef49719fe10f5ef3ef5be3eee19703a.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.myForm{
    position: relative;
    top: 20px;
    padding-bottom: 50px;
}
.formfront div{
    display: flex;
    flex-direction: column;
}
.formfront div input{
    color: black;
    position: relative;
    left: 20px;
    background-color: #f9ecc8;
    border-radius:10px ;
    margin-bottom:20px ;
}
.formfront div label{
    color: black;
    position: relative;
    left: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
}
main{
    background-image: url('https://i.pinimg.com/originals/6e/f4/97/6ef49719fe10f5ef3ef5be3eee19703a.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #585247; */
    padding-top: 50px;
    min-height: 100vh;
}