*{
    padding:0;
    align-items: center;
    margin: 0;;
    box-sizing: border-box;
    height: max-content;
}
.top{
    background-color: #f9ebc6;
    /* width: 80%; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.first{
    position: relative;
    top: 100px;
    padding: 20px;
    /* filter:grayscale(); */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image:url("/sky.jpeg"), linear-gradient(to right,#585247,#f9ebc6);
    background-position:left , right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.west{
    background-color: #585247;
    background-image: linear-gradient(to right,#f9ebc6,#585247);
}
footer{
    background-color: #585247;
    background-image: linear-gradient(to right,#f9ecc8,#585247);
    height: 150px;
    position: relative;
    top: 100px;
    /* width: 80%; */
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
}
.footer{
    /* border: solid 2px black; */
    display: flex;
    justify-content: space-around;
}
.footer a i{
    font-size: xx-large;
    /* font-weight: bolder; */
    color: black;
}